
doctype html
html
    head
        title= title
        include includes/head.pug
    body
        .loadingpage
            .spinner
                .double-bounce1
                .double-bounce2
        #mySidebar.sidebar
            i(class='fas fa-minus-circle closebtn')
            a(href='/') Home
        #main
            button( class='openbtn' ) ☰ Toggle Sidebar
            if username
                .main_user
                    span.main__user__cart #{amount}
                    img(src='img/cart.png')
                    div
                        img(src='img/user2.png')
                        span #{username}
                        a( onclick='onLogout(event)' class='main__logout' ) Logout
            if cartUser            
                .main__cart.row
                    .col-md-8
                        .main__cart__item.row
                            each value in cartUser
                                .main__cart__item__all(onclick="onSelect( '" + value.img + "','" + value.price + "' , '" + value.amount + "' )" )
                                    img(src=value.img).
                                    label #{value.nameproduct}
                                    span #{value.price} VNĐ
                                    .main__cart__item__all__button
                                        button(type='button')
                                            i(class='fas fa-minus')
                                        span() #{value.amount}
                                        button(type='button')
                                            i(class='fas fa-plus')
                    .col-md-4
                        .main__cart__checkout.row
                            p Thông tin đơn hàng
                            img#img(src='http://vn-live.slatic.net/p/1402da0893f2d7def7b89cce48a0df22.jpg')
                            .main__cart__checkout__info
                                span Giá
                                span#price 90000
                                    span  VNĐ
                            .main__cart__checkout__info
                                span Số Lượng
                                span#amount 1200000
                            .main__cart__checkout__info
                                span Tổng Cộng
                                span#sum 1200000
                                    span  VNĐ
                            button(type='button') Xác Nhận Giỏ Hàng  




    include includes/footer.pug
    script(type='text/javascript').
        $('.openbtn').click(e=>{
            const check = $('#mySidebar').css('width');
            if( check != '0px' ){
                $('#mySidebar').css({
                    'width':'0',
                });
                $('#main').css('margin-left','0');
            }else{
                $('#mySidebar').css({
                    'width':'250px'
                });
                $('#main').css('margin-left','250px');
            }
        });
        $('.closebtn').click(e=>{
            $('#mySidebar').css({
                'width':'0'
            });
            $('#main').css('margin-left','0');
        });
        function onSelect(img,price,amount){
            $("#img").attr("src",img);
            $("#price").text(price + 'VNĐ');
            $("#amount").text(amount+ ' Sản Phẩm');
            $("#sum").text( ( Number(parseInt(amount)*parseInt(price.trim().replace(',','').replace(',',''))).toLocaleString().replace('.',',').replace('.',',') + 'VNĐ' ));
        }
        $(document).ready(function(){
            setTimeout(_=>{
                $(".loadingpage").css('display','none');
            },1600); 
        });
